/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

/* header */

header {
    background-color:  white;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    }

.logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    padding-bottom: 5px;
    display: block;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* Nav Styles */

nav {
    background-color:white;
    color: black;
    padding: 5px;
    text-align: center;

}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

nav ul li a:hover {
    color: #999;
}

/* Main */

.portada {
    width: 100%;
    height: 80vh;
    padding: 10px;
    background: url(../img/foto3.jpeg);
    background-size: cover;
    background-position: center;
    margin: 25px auto;
    
}

.portada h1 {
    font-size: 50px;
    color: white;
    text-align: right;
    margin-right: 25px;
    padding-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.portada p {
    font-size: 20px;
    color: white;
    width: 32vw;
    position: relative;
    left: 65%;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

/* botones index */

.lineabotones {
 align-items: center;
    text-align: right;
    padding: 10px 10px;
    margin-top: 15px;
  
}

button {
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.boton-azul {
    background-color: rgb(103, 165, 253);
}

.boton-azul:hover {
    background-color: darkblue;
}

.boton-rojo {
    background-color: rgb(141, 141, 141);
}

.boton-rojo:hover {
    background-color: rgb(63, 63, 63);
}

/*cards index */

.card-container {
   gap: 20px;
   text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.card {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 50px 0px 50px 0px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px 0px 50px 0px;}

.card .text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
}

.card:hover .text {
    transform: scale(1.1);
}

.botoncito {
    background-color: transparent;
    color: black;
    font-weight: 600;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    backdrop-filter: blur(5px);
}

/* formulario */


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding y el borde no aumenten el ancho */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: #ddd;
    outline: none;
}

.botonformulario {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Bordes redondeados */
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* formulario turnos */

.containerTurnos {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button .botonturno {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background: #fff;
    ;
    align-items: center;
    padding: 0 50px;
    
}

footer p {
    text-align: center;
    font-size: 14px;
    color: #999;
}

.redes {
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.redes ul {
    list-style-type: none;
}

.redes img {
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

/* servicios */

.serviciosPortada img {
    width: 100%;
    padding: 10px;
    background-size: cover;
    background-position: center;
    margin: 5px auto;
}

/* franquicias */

.cardFranquicias {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.cardFranquicias img {
    width: 50%;
    object-fit: cover;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.cardFranquicias .textF {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
}
